.ctrlpanel {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 400px;
	width: 100%;
	background-color: #333;
	z-index: 2;
	color: white;
	font-family: "Verdana";
	padding: 25px;
	overflow: hidden;
	transition: top 0.3s ease-out;

	.current-settings {
		> ul {
			padding-left: 25px;

			> li {
				list-style: none;
			}
		}
	}

	&.hidden {
		top: -450px;
	}

	h1 {
		font-family: 'Six Caps', sans-serif;
		font-weight: 400;
		font-size: 70px;
		letter-spacing: 20px;
		margin-top: 0px;
		padding-left: 25px;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.controls {
		position: absolute;
		top: 0px;
		right: 100px;
		padding: 15px;
		overflow: scroll;
		.col-1{
			display: inline-block;
			vertical-align: top;
			> div {
				margin-bottom: 10px;
			}
			.line-width, .iterations, .interval, .glitch-modulus{
				> input {
					color: black;
					border: 1px solid gray;
					padding: 5px 0px 5px 11px;
					max-width: 50px;
					background-color: #333;
					color: white;
					&:active, &:focus {
						outline: none !important;
						border-color: white;
					}
				}
			}

			.iterations, .interval, .glitch-modulus {
				> input {
					max-width: 100px ;
				}
			}
			.auto-draw {
				> input {
					margin-left: 75px;
				}
			}

			.buttons > button:nth-child(2) {
			}
			.buttons > button:nth-child(6) {
				&:hover {
					color:  #b71c1c;
					border-color:  #b71c1c;
				}
			}

			button {
				background-color: #222;
				padding: 10px 15px;
				margin: 0px;
				display: block;
				border: 1px solid #333;
				transition: all .1s linear;
				min-width: 200px;
				min-height: 50px;
				&.active {
					background-color: blue;
				}
				&:active, &:focus {
					outline: none;
				}
				&:active{
					opacity: .4;
				}
				&:hover {
					border-color: #666;
				}

			}
		}

		.color-pickers {
			display: inline-block;
			overflow: scroll !important;
			margin-top: 73px;
			div {
			}
			> div {
				width: 72px !important;
				display: inline-block;
				margin: 5px 25px;
				height: 315px !important;


				&:first-child{
					&:before {
						content:'Line Color';
						position: absolute;
						top: 10px;
					}
				}
				&:nth-child(2){
					&:before {
						content:'Background Color';
						position: absolute;
						top: 10px;
					}
				}
				> div {

					overflow: scroll;

				}
			}
		}
	}

}