.ctrlpanel {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 100%;
	background-color: #333;
	z-index: 2;
	color: white;
	font-family: "Verdana";
	padding: 25px;
	overflow: hidden;
	transition: top 0.2s ease-in-out;

	&.hidden {
		top: -250px;
	}

	h1 {
		padding-left: 25px;
	}

	.controls {
		position: absolute;
		top: 0px;
		right: 100px;
		padding: 15px;
		overflow: scroll;
		.col-1{
			display: inline-block;
			vertical-align: top;
			> div {
				margin-bottom: 10px;
			}
			.line-width {
				> input {
					color: black;
					border: 1px solid gray;
					padding: 5px 0px 5px 11px;
					max-width: 50px;
					background-color: #333;
					color: white;
					&:active, &:focus {
						outline: none !important;
						border-color: white;
					}
				}
			}
			.auto-draw {
				> input {
					margin-left: 75px;
				}
			}
		}

		.color-pickers {
			display: inline-block;
			overflow: scroll !important;
			div {
				background-color: #333;
			}
			> div {
				width: 72px !important;
				display: inline-block;
				margin: 5px 25px;
				margin-top: 45px;
				&:first-child{
					&:before {
						content:'Line Color';
						position: absolute;
						top: 10px;
					}
				}
				&:nth-child(2){
					&:before {
						content:'Background Color';
						position: absolute;
						top: 10px;
					}
				}
				> div {
					height: 190px !important;	
					overflow: scroll;
					background-color: white;

				}
			}
		}
	}

}