.ctrlpanel {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 100%;
	background-color: #333;
	z-index: 2;
	color: white;
	font-family: "Verdana";
	padding: 25px;
	transition: top 0.2s ease-in-out;

	&.hidden {
		top: -250px;
	}

	h1 {
		padding-left: 25px;
	}

	.color-pickers {
		position: absolute;
		top: 0px;
		right: 100px;
		> div {
			width: 72px !important;
			display: inline-block;
			margin: 5px 25px;
			margin-top: 45px;
			&:first-child{
				&:before {
					content:'Line Color';
					position: absolute;
					top: 10px;
				}
			}
			&:nth-child(2){
				&:before {
					content:'Background Color';
					position: absolute;
					top: 10px;
				}
			}
			> div {
				height: 190px !important;	
				overflow: scroll;
				background-color: white;

			}
		}
	}
}