.ctrlpanel {
	position: absolute;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(-90deg);
	opacity: 1;
	min-height: 500px;
	max-width: 800px;
	max-height: 500px;
	transform: scale(1) translate(-50%, -50%);
	opacity: 1;
	background-color: #333;
	z-index: 2;
	color: white;
	font-family: "Verdana";
	overflow: hidden;
	transition: all 0.5s ease-in-out;



	&.hidden {
		opacity: 0;
		top: 200%;
		transform: rotateX(0deg) translate(-50%, -50%);
	}

	.info {
		width: 230px;
		padding-left: 20px;
		position: relative;
		h1 {
			align-self: flex-start;
			font-family: 'Six Caps', sans-serif;
			font-weight: 400;
			font-size: 70px;
			letter-spacing: 20px;
			margin-top: 10px;
			text-transform: uppercase;
			margin-bottom: 0px;
		}

		.control-legend {
			position: absolute;
			bottom: 0px;

			padding-left: 0px;

			> li {
				&:first-child{
					font-size: 25px;
				}

				margin: 10px 0px;
				font-size: 18px;
				list-style: none;
			}
		}
	}


	.controls {
		width: 600px;
		margin: 25px;
		background-color: #666;
		 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		.clearfix {
		  overflow: auto;
		  zoom: 1;
		}

		.col-1{
			float: left;
			width: calc(50% - 30px);
			vertical-align: top;
			height: 420px;
			padding: 15px;
			position: relative;

			h3 {
				margin-top: 0px;
				text-align: center;
			}

			> div {
				margin-bottom: 10px;
			}
			.line-width, .iterations, .interval, .glitch-modulus{
				.clearfix {
				  overflow: auto;
				  zoom: 1;
				}
				height: 35px;
				> input {
					color: black;
					border: 1px solid gray;
					padding: 5px 0px 5px 11px;
					max-width: 50px;
					background-color: #333;
					color: white;
					&:active, &:focus {
						outline: none !important;
						border-color: white;
					}
				}
			}
			label {
				float:left;
			}
			input {
				float: right;
			}
			.iterations, .interval, .glitch-modulus, .line-width {
				> input {
					max-width: 90px ;

				}
			}
			.auto-draw {
				> input {

					margin-left: 75px;
				}
			}

			.buttons{
				position: absolute;
				width: 240px;
				bottom: -3px;
				> button {
					width: 200px;
					margin: 10px auto;
				}
			}

			.buttons > button:nth-child(2) {
			}
			.buttons > button:nth-child(6) {
				&:hover {
					color:  #b71c1c;
					border-color:  #b71c1c;
				}
			}

			button {
				background-color: #222;
				padding: 10px 15px;
				margin: 0px;
				display: block;
				border: none;
				transition: all .1s linear;
				min-width: 200px;
				min-height: 50px;
				position: relative;
				&:before {
 					position: absolute;
 					top: 0px;
 					left: 0px;
 					width: calc(100%);
 					height: calc(100%);
 					content: '';
 					background-color: transparent;
 					z-index: 0;
 					border: 1px solid #555;
 					transition: all 0.1s ease-in;
 				}

				&.active {
					background-color: black;
					&:before {
 						top: -6px;
 						left: -6px;
 						width: calc(100% + 10px);
 						height: calc(100% + 10px);
 						border-color: white;	
 					}
				}
				&:active, &:focus {
					outline: none;
				}


			}
		}

		.color-controls {
			float: right;
			width: calc(50% - 30px);
			overflow: scroll !important;
			height: 420px;
			background-color: #555;
			padding: 15px 15px 15px 15px;

			> h3 {
				color: white !important;
				margin-top: 0px;
				text-align: center;
			}

 			> button {
 				display: block; 
 				margin: 10px auto 0px auto;
 				background-color: #333;
 				min-width: 200px;
 				padding: 10px 15px;
 				min-height: 50px;
 				border: none;
 				position: relative;
 				transition: all 0.1s ease-in;
 				&:before {
 					position: absolute;
 					top: 0px;
 					left: 0px;
 					width: calc(100%);
 					height: calc(100%);
 					content: '';
 					background-color: transparent;
 					z-index: 0;
 					border: 1px solid #555;
 					transition: all 0.1s ease-in;
 				}

 				&:first-child{
 					margin-top: 15px !important;
 				}

 				&:active, &:focus {
					outline: none;
				}
 				&.active {
 					background-color: black;
 					&:before {
 						top: -6px;
 						left: -6px;
 						width: calc(100% + 10px);
 						height: calc(100% + 10px);
 						border-color: white;	
 					}
 				}
 				&:hover{
 				}

 			}
 			.color-pickers{
 				margin: 15px auto 25px auto;
 				overflow:hidden;
 				width: 150px;
				> div {
					margin: 0 auto;
					width: 75px !important;
					display: inline-block;
					position: relative;
					
					background-color: #555 !important;

					&:first-child{
						&:before {
							content: 'Line';
							position: absolute;
							top: -25px;
							left: 22px;
							color: black;
							font-size: 12px;
						}
					}
					&:nth-child(2){
						&:before {
							content: 'Background';
							position: absolute;
							top: -25px;
							font-size: 12px;
							color: black;
						}
					}
					div {
						padding-top: 0px !important;
						padding-bottom: 0px !important;
						overflow: scroll;
						background-color: #555;

					}
				}
 			}
		}
	}

}