.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 300px;
	background-color: #464646;
	animation: fadein 2s ease-in;

	> h3 {
		color: white;
		font-size: 50px;
		margin-bottom: 0px;
		margin-top: 25px;
		text-align: center;
		text-transform: uppercase;
	}

	> .content {
		margin-top: 15px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		> span {
			display: block;
			&:first-child{
				margin-bottom: 25px;
			}
			font-size: 25px;
			color: white;
			min-width: 700px;
			text-align: center;

		}
	}
}


@keyframes fadein {
	from { opacity: 0; }
	to 	 {opacity: 1;  }
}
