.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 200px;
	background-color: #444;
	z-index: 20;
	animation: fadein 1.2s ease-in;
	&.hidden {
		display: none;
	}

	> h3 {
		color: #444;
		font-size: 90px;
		margin-bottom: 0px;
		margin-top: 25px;
		text-transform: uppercase;
		position: absolute;
		left: 14%;
		font-family: 'Six Caps', sans-serif;
		font-weight: 400;
		letter-spacing: 20px;
		transform: translateX(-50%);
		top: -64%;
	}

	> i {
		position: absolute;
		font-size: 40px;
		color: black;
		right: 25px;
		top: 25px;
		opacity: 0;
		animation: fadein 1.2s ease-in forwards;
		animation-delay: 2s;
		&:hover {
			cursor: pointer;
		}
	}

	> .content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		> span {
			display: block;
			&:first-child{
				margin-bottom: 25px;
			}
			font-size: 25px;
			color: black;
			min-width: 700px;
			text-align: center;

		}
	}
}


@keyframes fadein {
	from { opacity: 0; }
	to 	 {opacity: 1;  }
}
